/* PC */
@media (min-width: 64em) {
}

/* Tablet and mobile */
@media (max-width: 63.9375em) {
    .buy-ticket-btn {
        padding: 15px 16px;
        font-size: 16px;
    }

    .contact-form .form-submit-btn {
        padding: 15px 15px;
        font-size: 16px;
    }

    .contact-form .form-control {
        padding: 14px;
        font-size: 16px;
    }

    .contact-info p a {
        opacity: 1;
    }

    #footer .social-icons {
        font-size: 38px;
    }

    #footer .social-icons a {
        padding: 0 8px;
    }

    #footer p {
        font-size: 35px;
        margin: 40px 0;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .contact-info {
        font-size: 18px;
        padding: 15px 0;
    }

}

/* Mobile */ 
@media (max-width: 46.1875em) {
    .s-full-width {
        width: 100% !important;
    }

    .mb-30 {
        margin-bottom: 30px !important;
    }

    #header {
        overflow: hidden;
    }

    #header #nav li:first-child {
        display: inline-block;
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        font-size: 16px;
        color: #fff;
        float: right;
        line-height: 47px;
        padding: 0 21px;
    }
    
    #header .mobile-menu-btn:hover {
        background-color: #ccc;
        color: #000;
    }

    #nav {
        display: block;
    }

    #nav li {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 40px;
    }

    #content .member-item {
        width: 100%;
    }

    #content .member-avt {
        width: 60%;
    }

    .places-list .place-item {
        width: 100%;
        margin-bottom: 16px;
    }

    .form-container {
        margin: 0 10px;
    }
}