/* PC */
@media (min-width: 1024px) {

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */ 
@media (max-width: 739px) {
    .s-full-width {
        width: 100% !important;
    }

    .mb-30 {
        margin-bottom: 30px !important;
    }

    #header {
        overflow: hidden;
    }

    #header #nav li:first-child {
        display: inline-block;
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .mobile-menu-btn {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    #header .mobile-menu-btn {
        font-size: 16px;
        color: #fff;
        float: right;
        line-height: 47px;
        padding: 0 21px;
    }
    
    #header .mobile-menu-btn:hover {
        background-color: #ccc;
        color: #000;
    }

    #nav {
        display: block;
    }

    #nav li {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 40px;
    }

    #content .member-item {
        width: 100%;
    }

    #content .member-avt {
        width: 60%;
    }

    .places-list .place-item {
        width: 100%;
        margin-bottom: 16px;
    }

    .buy-ticket-btn {
        background-color: #000;
        color: #fff;
        text-decoration: none;
        padding: 16px 16px;
        margin-bottom: 16px;
        display: inline-block;
        border: none;
    }

    .contact-form .form-submit-btn {
        margin-bottom: 16px;
        padding: 16px 16px;
        background-color: #000;
        color: #fff;
        border: none;
    }

    .form-container {
        position: relative;
        margin: 0 10px;
        width: 1000px;
        max-width: calc(100% - 32px);
        min-height: 500px;
        animation: modalAnimation ease 0.5s;
    }
}