/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {

}


#header {
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    height: 46.5px;
    background-color: #000;
}

#nav {
    display: inline-block;
}

/* #nav > li {
    display: inline-block;
} */

#nav li {
    display: inline-block;
    position: relative;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;  
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0px 24px; 
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    background-color: #ccc;
    color: #000;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    min-width: 160px;
}

#nav .subnav li {
    width: 100%;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38.5px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    font-size: 20px;
    color: #fff;
    float: right;
    line-height: 46.5px;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#content {
    min-height: 500px;
    background-color: #fff;

}


#footer {

}



